@model CoreCRUD.Models.Employee

    @{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="container p-3 my-3 border">
        <h1> @ViewBag.PageName</h1>

        <div class="row">
            <div class="col-sm-6">
                <hr />
                <form asp-action="AddOrEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (@ViewBag.IsEdit)
                    {
                        <input type="hidden" asp-for="EmployeeId" />
                    }
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmpCode" class="control-label"></label>
                        <input asp-for="EmpCode" class="form-control" />
                        <span asp-validation-for="EmpCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Position" class="control-label"></label>
                        <input asp-for="Position" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OfficeLocation" class="control-label"></label>
                        <input asp-for="OfficeLocation" class="form-control" />
                        <span asp-validation-for="OfficeLocation" class="text-danger"></span>
                    </div>   
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Save" />
                        <a class="btn btn-danger" asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
